.grid-half{
    display: grid;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
    grid-template-columns: 1fr 1fr;
}

.grid-three-one{
  display: grid;
  gap: 20px;
  justify-content: center;
  align-items: center;
  grid-template-columns: 3fr 1fr;
}

.grid-one-one-one{
  display: grid;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-one-one-one-one{
  display: grid;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.flow-over {
  max-width: 1000px;
  margin: 0 auto;
  column-width: 300px;
  column-gap: 50px;
  /* column-rule: 1px solid #ccc; */
}



@media (max-width: 768px) {
  .grid-half, .grid-three-one, .grid-one-one-one
{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .grid-one-one-one-one{
    grid-template-columns: 1fr 1fr;
  }

}